div {
    text-align: center;
    margin-top: 100px;
}

h1 {
    display: inline-block;
    padding: 20px 40px;
    color: #333;
    background-color: #f0f8ff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    font-size: 32px;
    font-weight: 600;
}